
/* MENU */

.menu {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 25px 30px;

    background-color: white;

    position: relative;
    z-index: 1000;
}


.logo {
    font-family: Arial, Helvetica, sans-serif;

    font-size: 13px;
    font-weight: 500;

    letter-spacing: -0.2px;

    color: black;
    text-decoration: none;
}


.menu nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.menu nav a {
    position: relative;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 13px;
    font-weight: 400;

    color: black;
    text-decoration: none;

    transition: opacity 0.3s ease;
}

.menu nav a:hover {
    opacity: 0.4;
}





/* HOME */

.home-hero {
    min-height: calc(100vh - 65px);
    padding: 35px 30px 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
}

.home-hero-title {
    margin-top: 60px;
}

.home-hero-title h1 {
    margin: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: clamp(90px, 15vw, 220px);
    font-weight: 500;

    line-height: 0.75;
    letter-spacing: -10px;
}

.home-hero-bottom {
    display: grid;

    grid-template-columns: 1fr 1.7fr 1fr;

    align-items: end;
    gap: 50px;

    margin-top: 90px;
}

.home-description {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.3px;

    text-transform: uppercase;
}


.home-featured {
    width: 100%;
}

.home-featured img {
    width: 100%;
    height: auto;

    display: block;
}

.home-caption {
    display: flex;
    justify-content: space-between;

    margin-top: 7px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: 11px;
    letter-spacing: 0.3px;
}


.home-location {
    text-align: right;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.3px;

    text-transform: uppercase;
}



.home-work {
    padding: 5px 30px 220px;

    background-color: white;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.work-intro {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;

    margin-bottom: 180px;

    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.3px;
}

.work-intro-text {
    max-width: 320px;
}

.work-intro p:last-child {
    text-align: right;
}

.home-project {
    display: block;

    color: black;
    text-decoration: none;
}

.home-project img {
    display: block;

    width: 100%;
    height: auto;

    transition: opacity 0.4s ease;
}

.home-project:hover img {
    opacity: 0.75;
}


.home-project-info {
    display: grid;
    grid-template-columns: 40px 1fr auto;

    margin-top: 8px;

    font-size: 11px;
    letter-spacing: 0.2px;
}

.home-project-info span:last-child {
    color: #999;
}


.project-large {
    width: 30%;

    margin-left: 5%;
    margin-bottom: 220px;
}


.project-small-right {
    width: 24%;

    margin-left: auto;
    margin-right: 12%;
    margin-bottom: 230px;
}

.project-medium-left {
    width: 32%;

    margin-left: 22%;
}



.all-work {
    width: 100%;
    padding: 120px 30px 80px;

    background-color: white;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.all-work p {
    margin: 0 0 30px;

    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.3px;

    text-transform: uppercase;
}

.all-work a {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding-bottom: 18px;

    border-bottom: 1px solid black;

    color: black;
    text-decoration: none;

    font-size: clamp(70px, 12vw, 20px);
    font-weight: 500;

    line-height: 0.85;
    letter-spacing: -8px;
}

.all-work a span {
    font-size: 40px;
    font-weight: 400;

    line-height: 1;
    letter-spacing: 0;

    margin-bottom: 10px;

    transition: transform 0.3s ease;
}


.all-work a:hover span {
    transform: translate(8px, -8px);
}




/* ROOMS */

.rooms {
    padding: 70px 15px 100px;
    background-color: white;
}

.rooms-title {
    font-size: clamp(80px, 12vw, 190px);
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: -8px;

    margin: 0 0 120px;
}

.rooms-filter {
    display: flex;
    align-items: flex-start;

    margin-bottom: 100px;

    font-size: 14px;
}

.filter-label {
    width: 120px;
}

.filter-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-btn {
    border: none;
    background: none;
    padding: 0;

    font-family: inherit;
    font-size: 14px;

    color: black;
    cursor: pointer;

    transition: opacity 0.3s ease;
}

.filter-btn:hover {
    opacity: 0.5;
}

.filter-btn.active {
    color: #999;
}




.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    align-items: start;
}

.project {
    display: block;
    text-decoration: none;
    color: black;
}

.project img {
    width: 100%;
    height: auto;

    display: block;
}

.project-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-top: 8px;

    font-size: 12px;
}

.project-info span {
    color: #000000;
}

.project img {
    transition: opacity 0.3s ease;
    width: 100%;
    height: auto;
}

.project:hover img {
    opacity: 0.75;
}




/* ROOMS */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.project {
    display: block;
    color: black;
    text-decoration: none;
}

.project img {
    width: 100%;
    aspect-ratio: 1 / 1.1;

    object-fit: cover;
    display: block;

    transition: opacity 0.4s ease;
}

.project:hover img {
    opacity: 0.75;
}

.project-info {
    display: flex;
    justify-content: space-between;

    padding-top: 8px;

    font-size: 12px;
}

.project-info span {
    color: #999;
}


/* ABOUT */

.about-hero {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 0.9fr;
    gap: 70px;

    padding: 70px;

    color: #000000;
    background-color: #ffffff;
    font-family: inherit;

}

.about-info {
    display: flex;
    flex-direction: column;
}

.about-top {
    display: flex;
    justify-content: space-between;

    font-size: 12px;
    letter-spacing: 1px;
}

.about-details {
    margin-top: 190px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px 60px;

    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 1px;
}

.about-label {
    margin-bottom: 20px;
}


.contact {
    grid-column: 2;
}

.about-photo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-photo img {
    width: auto;
    height: 80vh;
    max-width: 100%;
    object-fit: contain;
}



/* About - Gallery */

.about-gallery {
    position: relative;

    margin-top: 180px;

    width: 100%;
    height: 1800px;

    background-color: #ffffff;
}

.gallery-photo {
    position: absolute;
}

.gallery-photo img {
    display: block;
    width: 100%;
    height: auto;
}

.photo-1 {
    width: 20%;
    top: 0;
    left: 23%;
}

.photo-2 {
    width: 28%;
    top: 150px;
    right: 0;
}

.photo-3 {
    width: 20%;
    top: 650px;
    left: 39%;
}

.photo-4 {
    width: 20%;
    top: 650px;
    left: 61%;
}

.photo-5 {
    width: 45%;
    top: 1100px;
    left: 5%;
}



/* About - Skills */

.skills {
    width: 100%;

    padding: 120px 70px 180px;

    background-color: white;

    font-family: inherit;
}

.skills-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 100px;
}

.skills-header h2 {
    margin: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: clamp(80px, 12vw, 190px);
    font-weight: 500;

    line-height: 0.8;
    letter-spacing: -8px;
}

.skills-header p {
    margin: 0;

    font-size: 11px;
    font-weight: 400;

    line-height: 1.4;
    letter-spacing: 0.3px;

    text-align: right;
}

.skills-list {
    width: 100%;

    border-top: 1px solid black;
}

.skill-row {
    display: grid;

    grid-template-columns: 80px 1.5fr 1fr;

    align-items: start;

    padding: 22px 0 45px;

    border-bottom: 1px solid black;
}

.skill-number {
    font-size: 11px;
}

.skill-row h3 {
    margin: 0;

    font-size: 30px;
    font-weight: 400;

    letter-spacing: -1px;
}

.skill-row p {
    margin: 0;

    font-size: 12px;
    font-weight: 400;

    line-height: 1.5;
    letter-spacing: 0.2px;
}





/* FOOTER */

.footer {
    width: 100%;

    padding: 180px 30px 30px;

    background-color: #000000;
    color: rgb(255, 255, 255);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-top {
    position: relative;

    border-bottom: 1px solid rgb(255, 255, 255);

    padding-bottom: 25px;
}

.footer-small {
    margin-bottom: 35px;

    font-size: 11px;
    font-weight: 400;

    line-height: 1.4;
    letter-spacing: 0.3px;
}

.footer-top h2 {
    margin: 0;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: clamp(70px, 12vw, 185px);
    font-weight: 500;

    line-height: 0.8;
    letter-spacing: -8px;
}

.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;

    align-items: start;
    gap: 40px;

    padding-top: 18px;

    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.3px;
}

.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-contact a,
.footer-back a {
    transition: opacity 0.3s ease;
}

.footer-contact a:hover,
.footer-back a:hover {
    opacity: 0.4;
}

.footer-back {
    text-align: left;
}

.footer-year {
    text-align: right;
}



